<form action="/auth" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="">
    <input type="submit" value="Entrar">
</form>